Package: me.ikghd.ytkplus
Name: YTKPlus
Version: 5.3.2
Architecture: iphoneos-arm64
Maintainer: ikarwan
Depends: mobilesubstrate | substitute | ellekit
Description: YTKPlus crack by moe.mohkg1017.pro
